* {
    margin: 0;
    padding: 0;
}

.container {
    background: linear-gradient(to right bottom, black);
    background-color: lightgray;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-wrapper {
    background-color: white;
    min-width: 800px;
    min-height: 600px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    border-width: 20px;
    border-color: black;
}

.header h1 {
    color: white;
    background-color: #36454f;
    font-size: 60px;
    border-radius: 20px;
    border-color: black;
    border-width: 20px;
    text-align: center;
    margin: 15px 0;
}

.task-input {
    outline: none;
    width: 600px;
    padding: 10px;
    margin-top: 20px;
    margin-right: 25px;
    font-size: 20px;
    color: black;
    background-color: lightgray;
    border: 3px solid black;
    border-radius: 12px;
}

.button-add {
    color: white;
    width: 70px;
    padding: 15px 15px;
    font-size: 20px;
    border-radius: 10px;
    border: 0;
    background-color: #04AA6D;
    cursor: pointer;
}

.list-item {
    display: flex;
    margin: 35px 0;
    border: 1px solid #22313f;
    background-color: #e5e4e2;
    border-radius: 10px;
    padding: 10px;
    max-height: 30px;
}

.button-complete,
.button-delete,
.button-edit {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 28px;
    border-radius: 50%;
}

.button-complete {
    color: #1e6b7f;
    margin-right: 20px;
}

.button-edit {
    color: steelblue;
    margin-right: 20px;
}

.button-delete {
    color: black;
}

.complete {
    text-decoration-style: solid;
    text-decoration-line: line-through;
    text-decoration-color: #1e6b7f;
}

.list {
    width: 500px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 50px;
}

input:focus,
button:focus {
    outline: none;
}